@import '../../styles/variables'
@import '../../styles/mixins'

.card
  display: flex
  flex-direction: column
  justify-content: space-between
  max-height: 30rem
  text-align: left

  @include card-style
  box-shadow: 0 4px 12px rgba(0,0,0,0.1)

  h4
    margin: 1rem 0
    font-size: 1.25rem
    font-weight: 600

  p
    margin-bottom: 1.5rem
    font-size: 1rem
    color: $text-light

  button
    height: 3rem
    margin: 2rem 0 0
    text-align: start
    @include button-style

.cardButtonArrow
  position: relative
  bottom: 3px
  line-height: 1
  font-size: 30px
  transition: left 0.3s ease

@media (max-width: 700px)
  .card
    text-align: center    
    button
      align-self: center